include README.md
include LICENSE
include pyproject.toml

prune assets
prune configs
prune data
prune dist
prune docs
prune examples
prune figures
prune manuscript
prune reproducibility
prune runs
prune scripts
prune tests

global-exclude __pycache__/*
global-exclude *.py[cod]
